body {
    font-size: 15pt;
}
img{
  width:90px;
  height:90px;
  margin: center;
  position:absolute;
  left:20px;
  top:20px;

}
.bigwrap{
  dispay:flex;
  place-content:center;
  background-color:whitesmoke;
  position: relative;
}
.wrap{
  background-color: white;
  place-content: center;
  padding:5px;
  border-radius:12px;
  margin-left:
  height:170px;
  width:170px;}
.box{
  background-color: dodgerblue;
  padding:5px;
  position:relative;
  width:120px;
  height: 120px;
  margin-left:10px;top:0px;
  border-radius:10px;
}
h1,h{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:black;
  font-size: 15px;
  font-weight:bold;
}
p{ 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:grey;
  font-size: 11px;
  letter-spacing: 1.5;
}
.wrap1{background-color: white;
position: absolute;
top:0px;
margin-left: 180px;
padding: 5px;
height: 260px;
  
  
}
#text,#text1{
  font-size: 11px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:bold;
}
#text{
  color:cyan;
}
#text1{
  color:blue;
}
#1{
  background-color: cyan;
