body {
	display: flex;
	place-content:centert;
	margin:120px 120px 120px 120px;
	
}
.form-container{position:fixed;
	rotate:30deg;
	background-color:blue;
	margin-top: 20px;
	width: 100px;
	height:100px;
	border-radius:15px;
	padding: 20px;
	place-content:center;
	
}
.form-container:hover{
	background-color:red;
}
.form-container2{position: absolute;
	border-radius:100%;
	background-color:white;
	width:70px;
	height: 70px;
	margin: center;
	margin-left: 15px;
	margin-top: 15px;}
	.box{background-color: blue;}
	address{position: absolute;
	top:0;
	margin-right: 20px;
		color: green;
		font-size: 25px;
	}
	
